* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--white: #fff; //Text
	--gray-100: #afafaf; //Divisor -
	--gray-200: #525252; //Divisor
	--gray-800: #15171b; //Body
	--gray-900: #111113; //Header
	--blue-900: #1fa4e5; //CTA
	--yellow-500: #ffbe16; //Warning
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%; //15px
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%; //14px
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: var(--gray-800);
}

::-webkit-scrollbar-thumb {
	background: var(--blue-900);
}

body {
	background: var(--gray-900);
	color: var(--white);
}

body,
input,
textarea,
select,
button {
	font: 400 1rem "Poppins", sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;

	&.active {
		color: var(--yellow-500);
	}
}
